In [151]:
import numpy as np
import pandas as pd

In [152]:
df = pd.read_csv("../Data Exploration and Preparation/master_data_with_imputed_budget_and_revenue.csv")

C:\Users\samsu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (46) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [153]:
df.columns

Index(['movie_id', 'actor_1_gender', 'actor_2_gender', 'actor_3_gender',
       'actor_4_gender', 'actor_5_gender', 'actor_1_name', 'actor_2_name',
       'actor_3_name', 'actor_4_name', 'actor_5_name', 'director_gender',
       'director_name', 'producer_gender', 'producer_name', 'casting_gender',
       'casting_name', 'belongs_to_collection', 'genre_1', 'genre_2',
       'genre_3', 'genre_4', 'production_company_1', 'production_company_2',
       'production_company_3', 'production_country_1', 'production_country_2',
       'production_country_3', 'spoken_language_1', 'spoken_language_2',
       'spoken_language_3', 'adult', 'budget', 'homepage', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'release_date', 'revenue', 'runtime', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count'],
      dtype='object')

In [154]:
df.drop(['movie_id','actor_1_name','actor_2_name','actor_3_name','actor_4_name','actor_5_name','director_name','producer_name'\
         ,'casting_name','belongs_to_collection','genre_3', 'genre_4','production_company_1','production_company_2','production_company_3'\
         ,'spoken_language_1','spoken_language_2','spoken_language_3','homepage','imdb_id','original_title','overview'\
        ,'poster_path','release_date','runtime','status','tagline','title','video','production_company_1', 'production_company_2',
       'production_company_3','production_country_2', 'production_country_3','original_language'],axis=1,inplace=True)

In [155]:
df.columns

Index(['actor_1_gender', 'actor_2_gender', 'actor_3_gender', 'actor_4_gender',
       'actor_5_gender', 'director_gender', 'producer_gender',
       'casting_gender', 'genre_1', 'genre_2', 'production_country_1', 'adult',
       'budget', 'popularity', 'revenue', 'vote_average', 'vote_count'],
      dtype='object')

Let's only consider the movies for which both budget and revenue information is available.

In [156]:
df=df[(df['budget']!=0)&(df['revenue']!=0)]

drop null rows

In [157]:
df = df[pd.notnull(df['revenue'])]

In [158]:
df.shape

(5654, 17)

Let's define a new column called success, which is 1 when revenue>budget else 0.

In [159]:
df['success'] = [1 if df.iloc[i,-3]>df.iloc[i,-5] else 0 for i in range(df.shape[0])]

In [160]:
df['revenue'] = pd.qcut(df['revenue'],2,labels=False)

In [161]:
df['budget'] = pd.qcut(df['budget'],2,labels=False)

In [162]:
df['vote_count'] = pd.qcut(df['vote_count'],2,labels=False)

In [163]:
df['vote_average'] = pd.qcut(df['vote_average'],2,labels=False)

In [164]:
df['popularity'] = pd.qcut(df['popularity'],2,labels=False)

In [165]:
df[['actor_1_gender','actor_2_gender','actor_3_gender','actor_4_gender','actor_5_gender','director_gender','producer_gender',\
    'casting_gender','budget','revenue']] = df[['actor_1_gender','actor_2_gender','actor_3_gender','actor_4_gender','actor_5_gender','director_gender','producer_gender',\
    'casting_gender','budget','revenue']].apply(pd.to_numeric)

In [166]:
df.drop(['genre_1','genre_2','production_country_1','adult'],axis=1,inplace=True)

In [167]:
df.drop(['actor_3_gender','actor_4_gender','actor_5_gender'],axis=1,inplace=True)

In [168]:
df.head()

,actor_1_gender,actor_2_gender,director_gender,producer_gender,casting_gender,budget,popularity,revenue,vote_average,vote_count,success
0,2.0,2.0,2.0,1.0,NaN,1,1,1,1,1,1
1,2.0,2.0,2.0,2.0,0.0,1,1,1,1,1,1
2,2.0,2.0,2.0,NaN,NaN,1,1,1,1,0,1
3,1.0,1.0,2.0,0.0,NaN,0,0,1,0,0,1
4,2.0,1.0,2.0,1.0,NaN,0,1,0,0,0,0

In [169]:
df['actor_1_gender_is_female'] = [1 if df.iloc[i,0]==1 else 0 for i in range(df.shape[0])]

In [170]:
df['actor_1_gender_is_male'] = [1 if df.iloc[i,0]==2 else 0 for i in range(df.shape[0])]

In [171]:
df['actor_2_gender_is_female'] = [1 if df.iloc[i,1]==1 else 0 for i in range(df.shape[0])]

In [172]:
df['actor_2_gender_is_male'] = [1 if df.iloc[i,1]==2 else 0 for i in range(df.shape[0])]

In [173]:
df['director_gender_is_female'] = [1 if df.iloc[i,2]==1 else 0 for i in range(df.shape[0])]

In [174]:
df['director_gender_is_male'] = [1 if df.iloc[i,2]==2 else 0 for i in range(df.shape[0])]

In [175]:
df['producer_gender_is_female'] = [1 if df.iloc[i,3]==1 else 0 for i in range(df.shape[0])]

In [176]:
df['producer_gender_is_male'] = [1 if df.iloc[i,3]==2 else 0 for i in range(df.shape[0])]

In [177]:
df['casting_lead_gender_is_female'] = [1 if df.iloc[i,4]==1 else 0 for i in range(df.shape[0])]

In [178]:
df['casting_lead_gender_is_male'] = [1 if df.iloc[i,4]==2 else 0 for i in range(df.shape[0])]

In [179]:
df.drop(['actor_1_gender','actor_2_gender','director_gender','producer_gender','casting_gender','casting_lead_gender_is_female'],axis=1,inplace=True)

In [180]:
df.columns

Index(['budget', 'popularity', 'revenue', 'vote_average', 'vote_count',
       'success', 'actor_1_gender_is_female', 'actor_1_gender_is_male',
       'actor_2_gender_is_female', 'actor_2_gender_is_male',
       'director_gender_is_female', 'director_gender_is_male',
       'producer_gender_is_female', 'producer_gender_is_male',
       'casting_lead_gender_is_male'],
      dtype='object')

In [181]:
df.head()

,budget,popularity,revenue,vote_average,vote_count,success,actor_1_gender_is_female,actor_1_gender_is_male,actor_2_gender_is_female,actor_2_gender_is_male,director_gender_is_female,director_gender_is_male,producer_gender_is_female,producer_gender_is_male,casting_lead_gender_is_male
0,1,1,1,1,1,1,0,1,0,1,0,1,1,0,0
1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0
2,1,1,1,1,0,1,0,1,0,1,0,1,0,0,0
3,0,0,1,0,0,1,1,0,1,0,0,1,0,0,0
4,0,1,0,0,0,0,0,1,1,0,0,1,1,0,0

In [182]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [183]:
frequent_itemsets = apriori(df, min_support=0.07, use_colnames=True)

In [184]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

In [185]:
rules.sort_values(by=['lift'],ascending=False).head()

,antecedants,consequents,support,confidence,lift
51163,"(vote_count, actor_1_gender_is_male, director_...","(vote_average, budget, success, producer_gende...",0.222320,0.353222,2.789269
51226,"(vote_average, budget, success, producer_gende...","(vote_count, actor_1_gender_is_male, director_...",0.126636,0.620112,2.789269
46174,"(actor_2_gender_is_male, vote_count, director_...","(vote_average, budget, success)",0.159356,0.469478,2.776601
46307,"(vote_average, budget, success)","(actor_2_gender_is_male, vote_count, director_...",0.169084,0.442469,2.776601
51274,"(actor_1_gender_is_male, revenue, vote_count, ...","(budget, producer_gender_is_male, director_gen...",0.249204,0.315117,2.732626

The rule that high popularity points, combined with budget and vote_count leads to success and high revenue, seems intuitive.

In [187]:
rules.sort_values(by=['lift'],ascending=False).to_csv("rules_with_gender_info.csv",encoding='utf8',index=False)